.weather-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
  margin: 10px;

  background-color: #80808080;
  box-shadow: 0 2px 4px #00000080;
}

.weather-card > * {
  flex-grow: 0;
  border: none;
}

.weather-card > :not(:first-child) {
  border-left: 1px solid black;
}

.weather-card > header {
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 10px;
}

.weather-card > header > table {
  text-align: left;
  border-spacing: 2px 0px;
}

.weather-card > header > table > tbody > tr > td {
  padding: 2px 4px 0px 4px;
}

.weather-card > header > table > tbody > tr > :not(:first-child) {
  border-left: 1px solid black;
}

.weather-card > main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.weather-day-card {
  flex: 1 1 50%;

  justify-content: center;
  place-items: center;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0px 1px 4px black;
  backdrop-filter: blur(5px);

  border-radius: 8px;

  height: 50%;
  width: 64px;
}

.weather-day-card > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: -1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  backdrop-filter: blur(10px);
  border-radius: inherit;
}

.loading > div {
  --vh-size: min(1vh, 1vw);

  border-radius: 100%;
  width: calc(5 * var(--vh-size));
  height: calc(5 * var(--vh-size));
  animation: spin 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  text-align: center;
  margin: var(--vh-size);
  border: 8px solid #00000080;
  border-top: 8px solid #000080f0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.units-selector {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
  border: 1px solid black;
  border-radius: 24px;

  background-color: #a0a0a0;
  color: black;
}

.units-selector > * {
  border: none;
  background-color: transparent;
  padding: 4px;
}

.units-selector > button {
  border-left: 1px solid black;
}

.units-selector > .deselected {
  background-color: #f0f0f0;
}

.units-selector > .selected {
  transition: background-color 0.2s, margin-top 0.1s;
  margin-top: -4px;
}
