.weather-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  color: #ffffff;
}

.weather-card,
.weather-card > * {
  padding: 8px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #00000020;
}

.weather-card > header {
  backdrop-filter: blur(4px);
}

.weather-card > main {
  flex-grow: 1;
}

.weather-card > footer {
  backdrop-filter: blur(100px);
}

.weather-card > hr {
  flex-grow: 0;
  width: 0.2%;
  padding: 0;
  border: none;
  background-color: black;
}
